<div>
  <div>Location</div>
  <div class='company'>
    Company DD
    <div>
      LinkedIn Company URL
      Glassdoor Company URL
    </div>
    <div>
      Motivation level DD
    </div>

  </div>
  <div>
    Job Posting DD
    <div>
      Job Posting Text
    </div>
    <div>
      URL
    </div>
  </div>
  <div>
    Connection's Name
    <div>Existing or New and DD for Type</div>
    <div>Messaged?</div>
    <div>Applied?</div>
    <div>Initial Interview?</div>
    <div>Onsite Interview?</div>
    <div>Offer</div>
  </div>
</div>